.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-bar {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: right;
  margin-left: auto;
  align-items: center;
  text-align: center;

}

.Nav-bar >ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  align-items: center;
  text-align: center;
  margin-right: 50px;
}

.Nav-bar a{
  text-decoration: none;
}

.Main{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  width: 175px;
  font-size: 12px;
  margin-left: 50px;
}

.card-image{
  width: 100%;
  border-radius: 12px;
}

.card-details{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  width: 100%;
  text-align: center;
}

.class-container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 12%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
